.default-color0.chart-pie { -fx-pie-color: #87bdd8; }
.default-color1.chart-pie { -fx-pie-color: #cfe0e8; }
.default-color2.chart-pie { -fx-pie-color: #860061; }
.default-color3.chart-pie { -fx-pie-color: #adff2f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }
