* {
  -fx-vars-accent-color: #3399ff;
  -fx-vars-button-background-color: -fx-vars-accent-color;
  -fx-vars-button-shadow-color: #2288cc;
  -fx-vars-button-hover-background-color: #2277dd;
  -fx-vars-button-hover-shadow-color: -fx-vars-button-hover-background-color;
  -fx-vars-button-armed-background-color: -fx-vars-button-hover-background-color;
  -fx-vars-button-armed-shadow-color: #2255cc;
}

.button {
  -fx-background-color: -fx-vars-button-background-color;
  -fx-background-radius: 2px;
  -fx-font-size: 1.3em;
  -fx-text-fill: white;
  -fx-label-padding: 2px;
  -fx-effect: dropshadow(three-pass-box,
    -fx-vars-button-shadow-color, 4, 0.1, 0, 2);
}

.button:hover {
  -fx-background-color: -fx-vars-button-hover-background-color;
  -fx-effect: dropshadow(three-pass-box,
    -fx-vars-button-hover-shadow-color, 1, 0.1, 0, 1);
  -fx-cursor: hand;
}

.button:armed {
  -fx-background-color: -fx-vars-button-armed-background-color;
  -fx-effect: innershadow(three-pass-box,
    -fx-vars-button-armed-shadow-color, 6, 0.1, 0, 6);
}

.button Text {
  -fx-fill: red;
  -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 0, 1);
}

#steamDirectoryLabel {
  -fx-border-color: -fx-vars-accent-color;
  -fx-border-radius: 2px;
  -fx-label-padding: 4px;
}
